.chat_header {
    height: 5rem;
    position: relative;
    background: $blue2;
    color: $white;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .chat_header_title {
        line-height: 5rem;
        font-size: 1.8rem;
        font-weight: $light;

        b {
            color: $turquoise1;
            font-weight: $bold;
            letter-spacing: 0.05rem;
            text-transform: uppercase;
        }
    }
}

.chat_container {
    height: calc(100% - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/Jane.png) no-repeat center 35%;
    background-size: 65%;

    p {
        margin-top: 25rem;
        width: 60rem;
        font-weight: $light;
        font-size: 3rem;
        color: $blue2;
        text-align: center;
        padding: 2rem; 

        b {
            font-size: 3rem;
            font-weight: $bold;
            letter-spacing: 0.05rem;
            text-transform: uppercase;
        }
    }
}

.goto_feed_button {
    font-size: 1.6rem;
    position: relative;
    padding: 0 2rem;

    &:after {
        content: $arrowLeftIcon;
        font-family: $IconsFont;
        position: absolute;
        right: 0;
    }

    &:hover {
        color: $turquoise1;
    }
}