.companies_list {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

.companies_list_item {
    flex: 1 0 35rem;
    width: 50%;
    height: 49rem;
    margin: 1rem;
    font-weight: $light;
    background: $white;
    border-top-right-radius: 5rem;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.02);

    &:hover .pitch_me {
        animation-name: swing;
        transform-origin: top center;
        animation-duration: 0.5s;
    }
}


.company_introduction {
    padding: 1.5rem;
    height: 19rem;
    position: relative;

    .company_logo_wrapper {
        width: 25rem;
        height: 4.5rem;

        .company_logo {
            max-width: 25rem;
            max-height: 4.5rem;
        }
    }

    .company_name {
        font-size: 2rem;
        font-weight: $light;
        margin: 1.5rem 0;
    }

    .company_keywords {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .company_match {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        width: 80px;
        height: 80px;
        cursor: pointer;
    }

    .company_match_text {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #334661;

        .company_match_value {
            font-size: 2.5rem;
            font-weight: $regular;

            span{
                font-size: 1.6rem;
                font-weight: $bold;
            }
        }

        .company_match_title {
            font-size: 1.2rem;
            font-weight: $bold;
            text-transform: uppercase;
            letter-spacing: 0.05rem;
        }

        @media screen and (max-width:1024px) {
            .company_match_value {
                font-size: 2.2rem;
            }

            .company_match_title {
                font-size: 1rem;
                font-weight: $regular;
            }

        }
    }
}

.company_info {
    background: $blue2;
    height: calc(100% - 19rem);
    padding: 1.5rem;
    color: $white;

    .company_description {
        font-size: 1.6rem;
        line-height: 2rem;
        height: 9rem;
    }

    .company_details {
        display: flex;
        margin: 1.5rem 0 3.8rem;

        .company_detail {
            flex: 1;
            text-align: center;

            .detail_icon {
                width: 4.5rem;
                height: 4.5rem;
                display: block;
                width: 100%;

                &.employees_detail {
                    background: url(../img/employees_icon.png) no-repeat center;
                }

                &.funding_detail {
                    background: url(../img/funding_icon.png) no-repeat center;
                }

                &.founded_detail {
                    background: url(../img/founded_icon.png) no-repeat center;
                }
            }

            .company_detail_title {
                font-size: 1.4rem;
                text-transform: uppercase;
                margin: 1rem 0 0.2rem;
            }

            .company_detail_data {
                font-size: 1.6rem;
                font-weight: $medium;
            }
        }
    }
}

.company_action_buttons {
    display: flex;

    .action_button {
        text-transform: uppercase;
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
        border-radius: 0.3rem;
        line-height: 1.5rem;
        height: 4rem;
        flex: 1;
        box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);

        &.explore_company {
            font-weight: $medium;
            margin-right: 1.5rem;
            background: linear-gradient(to bottom, $turquoise1 0%, $turquoise2 100%);

            &:hover {
                background: linear-gradient(to bottom, $turquoise2 0%, $turquoise1 100%);
            }
        }

        &.pitch_me {
            font-weight: $bold;
            background: linear-gradient(to bottom, $pink1 0%, $pink2 100%);

            &:hover {
                background: linear-gradient(to bottom, $pink2 0%, $pink1 100%);
            }
        }

        &.got_pitched {
            font-weight: $bold;
            background: linear-gradient(to bottom, $orange1 0%, $orange2 100%);

            &:hover {
                background: linear-gradient(to bottom, $orange2 0%, $orange1 100%);
            }

            .got_pitched_message {
                display: block;
                font-weight: $light;
                font-size: 1.4rem;
                letter-spacing: 0;
            }
        }
    }
}

@media screen and (max-width:1680px) {
    
    .companies_list_item {
        flex: 1 0 32rem;
    }
    
    .action_button {
        font-size: 1.4rem;
        
        
    }
}