.feed_header {
    height: 5rem;
    position: relative;
    background: $blue2;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
}

.feed_header_links {
    position: relative;

    @media screen and (max-width:1024px) {
        padding: 0;

        i {
            font-size: 2.5rem;
            line-height: 5rem;

            &:hover {
                color: $turquoise1;
            }
        } 
    }

    .feed_header_link {
        font-size: 1.6rem;
        font-weight: $light;
        line-height: 2.2rem;
        display: inline-block;
        padding: 0 2rem;
        position: relative;

        &:hover {
            color: $turquoise1;
        }

        &:before {
            font-family: $IconsFont;
            position: absolute;
            left: 0;
        }

        &#pitch_tracking {
            &:before {
                content: $listIcon;  
            }
        }
    }
}

.feed_header_right_wrapper {
    display: flex;
}


.feed_header_search_form {
    position: relative;
    margin-left: 1.5rem;

    .feed_header_search_field {
        font-size: 1.6rem;
        border: 0;   
        background-color: transparent;
        outline: 0;

        &:focus {
            border-bottom: 1px solid $white;

            ~ .feed_header_search_open{
                left: -3rem;
                right: auto;
            }
        }
    }

    .feed_header_search_open {
        font-size: 1.2rem;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        height: 100%;
        transition: all 0.3s;

        i {
            font-size: 1.8rem;
        }

        &:hover{
            color: $turquoise1;
        }
    }
}

.goto_chat_button {
    @extend .goto_feed_button;
}