//font
$mainFont:	 	'Kanit', sans-serif;
$IconsFont:	 	'Material Icons';

$light: 		300;
$regular: 		400;
$medium: 		500;
$semiBold: 		600;
$bold: 			700;
$extraBold: 	800;
$black: 		900;


//colors
$white:     	#ffffff;
$blue1:     	#132f49;
$blue2:     	#334661;
$grey1:     	#f7f7f7;
$grey2:     	#cccccc;
$grey3:     	#333333;
$pink1:     	#ff5858;
$pink2:     	#ff334b;
$orange1:		#ff8933;
$orange2:		#fb6b1d;
$turquoise1:	#1ab6d8;
$turquoise2:	#099cbc;

//icons
$cogWheelIcon: 	'\E8B8';
$listIcon: 		'\E896';
$locationIcon: 	'\E0C8';
$arrowLeftIcon:	'\E315';
